@using Resources
@{
    Layout = "~/Views/RdpTemplate/Shared/_AdminLteWithEasyuiLayout.cshtml";
}
@model Rdp.Core.ResultInfo
<section class="content">
    <div class="row" id="SearchForm">
        <form class="form-horizontal" id="F_Search" method="post" action="/UserMaster/ResetPassword">
            <div class="col-sm-12">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@ResDisplay._Old@ResUserMaster.Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="oldPassword" value="" required />
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@ResDisplay._New@ResUserMaster.Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="newPassword" required />
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">@ResUserMaster.ConfirmPassword@ResDisplay._New@ResUserMaster.Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="confirmPassword" required />
                    </div>
                </div>

                

                <div class="form-group col-sm-6">
                    <p class="margin"><code>@(Model != null?Model.ErrorMsg:"")</code></p>
                </div>

                <div class="form-group col-sm-6">
                    <div class="btn-group">
                        <button type="submit" class="form-control">
                            <i class="fa fa-edit"></i>
                            @ResOperate.Update
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>

@if(Model != null)
{
    <script type="text/javascript">
        <text></text>
    </script>
    
}


